<h3>What would you like to ask?</h3>
<form action='/questions' method="POST">
  <h4>Title</h4>
  <div>
    <input name='question[title]'>
  </div>
  <h4>Content</h4>
  <div>
    <input name='question[content]'>
  </div>
  <h4>Tags</h4>
  <div>
    <input name='tag[name]'>
  </div>
  <div>
    <input type="submit" value="Ask!">
  </div>
</form>

