<h3>Hello, please login here</h3>
<% if @errors %>
<h4><%= p @errors %></h4>
<%end%>

<form action='/login' method="POST">
  <div><label for="user_name">User name:</label><input name='user[user_name]' id='user_name' placeholder='User Name'></div>
  <div><label for="email">Email adddress:</label><input name='user[email]' id='email' placeholder='Email'><div>
  <div><label for="password">Password:</label><input type='password' name='user[password]' id='password' placeholder='Password'></div>
  <input type='submit' value='Login'>
</form>

<a href="/users/new"><h3>...Or create an account</h3></a>















