<h3>Comment</h3>
<form action='/comments' method="POST">
<textarea rows="4" cols="50" type='text' name='user[profile]' id='profile'></textarea>
  <div>
    <input type="submit" value="Comment!"
  </div>
  <input type="hidden" name="@question.id">
</form>

