/*.upvote-button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  color: #8C8C8C;
  vertical-align: sub;
  padding: 1px 0px 0px 0px;
}

.inline {
  display: inline;
}
*/
/* .submissionfield {
    width: 25%;
    height: 200px;
    border: 1px solid #999999;
    padding: 5px;
     }
*/
