<h3>Register!</h3>
<form action='/users' method="POST">
  <div><input name='user[user_name]' placeholder='User Name'></div>
  <div><input name='user[email]' placeholder='Email'><div>
  <div><input type='password' name='user[password]' placeholder='Password'></div>
</form>

