<h3>Register!</h3>


<% if @errors %>
  <h3>Sorry... Confucius say...that didn't work.</h3>

  <ul>
    <%@errors.each do |error| %>
      <li><%=p error%></li>
      <%end%>
  </ul>
<%end%>


<form action='/users' method="POST">
  <div><label for="user_name">User name:</label><input name='user[user_name]' id='user_name' placeholder='User Name'></div>
  <div><label for="email">Email adddress:</label><input name='user[email]' id='email' placeholder='Email'><div>
  <div><label for="password">Password:</label><input type='password' name='user[password]' id='password' placeholder='Password'></div>
  <div><label for="profile">Profile:</label><textarea rows="4" cols="50" type='text' name='user[profile]' id='profile' placeholder='Enter a bit about you...'></textarea></div>
  <input type='submit' value='Create Account'>
</form>

