<footer>
<a href="#">Corporate Governance&nbsp |</a> <a href="https://www.linkedin.com/in/samuelblackman">Help&nbsp |</a> <a href="https://www.linkedin.com/in/samuelblackman">About Us&nbsp | </a><a href="https://www.linkedin.com/in/samuelblackman">We don't really care</a>
</footer>
